pretrained_model
data

**/*/__pycache__/
__pycache__/
person_pointcloud.ply
rgb_pointcloud.ply
tv_pointcloud.ply
rgb_pointcloud.ply
rgb_pointcloud.ply
rgb_pointcloud.ply
pointclouds/complex/complex_0000.ply
pointclouds/complex/complex_0001.ply
pointclouds/linear/linear_0000.ply
pointclouds/linear/linear_0001.ply
plots_report/combined_plot.png
combined_plot.png
